
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to our Movie Lists  <strong>Let yourself be inspired</strong> <strong>They are the best</strong>!</h1>
    <p>Welcome to the Jungle</p>
    <%= link_to "Create new List", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
